*{margin:0px;padding:0px;}
body{overflow:hidden;background:#ebebeb;}
#viewer{
    height:550px;
    width:100%;
    overflow:hidden;
}
.hit{display:block;float:left;width:5px;height:20px;margin-right:3px;}
.green{background:#44aa44;}
.yellow{background:rgb(225,220,20);}
.red{background:rgb(220,20,0);}
.counter{
    position:absolute;
    font-size:36px;
    color:#ff00ff;
    margin-bottom:5px;
}
.counter h1{
    font-size:26px;
    margin-top:-5px;
    color:#777;
}
.counter h2{
    font-size:16px;
    color:#444;
    margin-bottom:5px;
}